.z-toolbarbutton.narrow-left,
.z-toolbarbutton.narrow-left .z-toolbarbutton-body,
.z-toolbarbutton.narrow-left .z-toolbarbutton-cnt{
	padding-left: 0px;
	margin-left:0px;
}
.z-toolbarbutton.narrow-right,
.z-toolbarbutton.narrow-right .z-toolbarbutton-body,
.z-toolbarbutton.narrow-right .z-toolbarbutton-cnt{
	margin-right:0px;
	padding-right: 0px;
}

.z-toolbar .sep-v{
	background:url(/essential/zkau/web/zss/img/sep.gif) repeat-y scroll 0 0 transparent;
	height: 16px;
	width:2px;
	padding:2px 0;
}


/***/
.z-toolbar .fontbox{
	width:105px;
}